@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700;800&display=swap');

/********************/
/***** Defaults *****/
/********************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
}
a {
  color: inherit;
}
h1 {
  font-size: 3em;
  font-weight: 800;
}
h2 {
  font-size: 2.4em;
  font-weight: 700;
}
h3 {
  font-size: 2.2em;
  font-weight: 500;
}
h4 {
  font-size: 2em;
  font-weight: 400;
}
p {
  font-size: 1.75em;
  font-weight: 300;
}
u {
  text-decoration-line: underline;
}
button {
  font-size: 1.75em;
  padding: 20px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 1s ease;
}
button:hover {
  background: #4f4f4f; 
}
button:focus {
  background: #4f4f4f; 
}
.centered-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.centered-flex-row {
  display: flex;
  align-items: center;
  gap: 20px;
}
#center-flex {
  justify-content: center;
}

/**********************/
/***** Navigation *****/
/**********************/

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 98;
}
.logo img {
  filter: drop-shadow(1.95px 1.95px 2.6px #000000);
}
.hamburger {
  position: fixed;
  /* a large z-index puts the ham button above the rest of the page*/
  z-index: 99;
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
.menu {
  position: fixed;
  /* give the menu a larger z-index than the ham link
  to put the menu above it */
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  /* basic menu styling*/
  list-style: none;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* animate slide up/down */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.menu:target {
  /* show menu */
  transform: translateX(0);
}
.menu a {
  color: white;
  font-size: 2em;
  font-weight: 400;
}
.menu a:hover {
  color: #4f4f4f; 
}
.menu a:focus {
  color: #4f4f4f; 
}
.close {
  position: absolute;
  border: none;
  color: white;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
@media (max-width: 640px) {
  .logo img {
    width: 190px;
  }
}

/******************/
/***** Header *****/
/******************/

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5% 2%;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/home-header.jpg);
  background-position: center;
  background-size: cover;
}
.header-overlay h1 {
  font-size: 8em;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3px 3px 5px #000000;
}
@media (max-width: 1200px) {
  .header-overlay h1 {
    font-size: 6em;
  }
}
@media (max-width: 840px) {
  .header-overlay h1 {
    font-size: 5em;
  }
}
@media (max-width: 700px) {
  .header-overlay h1 {
    font-size: 4em;
  }
}
@media (max-width: 560px) {
  .header-overlay h1 {
    font-size: 2.5em;
  }
}

/*********************************/
/***** Display Card Sections *****/
/*********************************/

.display-card {
  display: flex;
  gap: 15px;
  padding: 4% 2%;
  height: 750px;
  align-items: center;
  justify-content: space-evenly;
}
.display-card-image {
  margin: 25px;
  height: 75%;
  width: 75%;
  min-height: 600px;
  max-width: 600px;
  background-position: center;
  background-size: cover;
}
.display-card-text {
  margin: 25px;
  max-width: 500px;
}
.display-card-text button {
  margin-top: 30px;
}
.display-card-text ul {
  list-style-type: square;
  margin-left: 20px;
}
.display-card-text ul li {
  font-size: 1.75em;
  line-height: 2.5em;
}
#celebrate-img {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/celebrate.jpg);
}
#refinance-img {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/refinance.jpg);
}
#alt-display-card {
  background-color: #f5f7ff;
}
@media (max-width: 1300px) {
  .display-card-image {
    min-height: 475px;
    min-width: 475px;
    max-width: 475px;
  }
  .display-card-text {
    max-width: 425px;
  }
  .display-card-text h1 {
    font-size: 2.75em;
  }
  .display-card-text p {
    font-size: 1.5em;
  }
  .display-card-text ul li {
    font-size: 1.4em;
    line-height: 2.25em;
  }
}
@media (max-width: 980px) {
  .display-card {
    flex-direction: column;
    height: 1000px;
    text-align: center;
  }
  .display-card-image {
    max-height: 475px;
  }
  #reverse-column {
    flex-direction: column-reverse;
  }
  .display-card-text p {
    font-size: 1.25em;
  }
}
@media (max-width: 500px) {
  .display-card-image {
    min-width: 325px;
    max-width: 325px;
    min-height: 325px;
    max-height: 325px;
  }
}
@media (max-width: 440px) {
  .display-card {
    height: 650px;
  }
  .display-card-image {
    min-width: 225px;
    max-width: 225px;
    min-height: 225px;
    max-height: 225px;
  }
  .display-card-text {
    max-width: 250px;
  }
  .display-card-text h1 {
    font-size: 2em;
  }
  .display-card-text p {
    font-size: 1.1em;
  }
  .display-card-text ul li {
    font-size: 1.1em;
    line-height: 1.75em;
  }
  .display-card-text button {
    font-size: 1.2em;
    padding: 10px 10px;
    margin-top: 20px;
  }
}

/**********************/
/***** Goal Cards *****/
/**********************/

.goal-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.goal-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  grid-column-gap: 15px;
  margin-top: 20px;
}
.goal-img {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal-columns button {
  font-size: 1.25em;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
  width: 90%;
  text-align: center;
  padding: 4%;
  border-radius: 2px;
  transition: 1s ease;
}
.goal-columns button:hover {
  background-color: #4f4f4f;
}
@media (max-width: 1050px) {
  .goal-columns button {
    font-size: 1em;
  }
  .goal-card h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 980px) {
  .goal-card {
    max-height: 500px;
    max-width: 475px;
  }
}
@media (max-width: 500px) {
  .goal-card {
    max-width: 375px;
  }
}
@media (max-width: 440px) {
  .goal-card {
    max-width: 275px;
  }
  .goal-card h2 {
    font-size: 1.3em;
  }
  #alt-display-card {
    height: 1000px;
  }
}
@media (max-width: 300px) {
  #alt-display-card {
    height: 1200px;
  }
}

/**************************/
/***** Client Reviews *****/
/**************************/

.review-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2%;
  height: 1000px;
  align-items: center;
  justify-content: space-evenly;
}
.reviews {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px;
  aspect-ratio: 1 / 1;
  height: 325px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.review-card p {
  font-size: 1em;
}
.review-card h4 {
  font-size: 1.25em;
}
.review-card a {
  width: 100%;
  display: flex;
  align-items: center;
}
.vertical-name {
  width: 100%;
  margin-left: 10px;
}
.horizontal-name {
  display: flex;
  align-items: center;
}
.horizontal-name small {
  margin-bottom: 4px;
  margin-left: 4px;
}
#review-location {
  margin-left: 15px;
}
#review-star {
  color: #483f00;
  font-size: 20px;
}
@media (max-width: 1400px) {
  .reviews {
    flex-direction: column;
  }
  .review-section {
    height: 2800px;
  }
}
@media (max-width: 350px) {
  .review-section {
    height: 3200px;
  }
  .review-section h1 {
    font-size: 2.2em;
  }
  .review-card h4 {
    font-size: 1em;
  }
  .review-card {
    aspect-ratio: 1 / 1.7;
    height: 400px;
  }
  .horizontal-name {
    flex-direction: column;
    align-items: flex-start;
  }
}

/************************/
/***** Team Section *****/
/************************/

.team-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 800px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: #f5f7ff;
  padding: 0px 4%;
}
.team-section h2 {
  font-weight: 400;
  font-size: 1.75em;
}
.team-row {
  display: flex;
  gap: 15px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  gap: 5px;
  height: 400px;
  aspect-ratio: 1 / 1;
  background-color: #ffffff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.team-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1250px) {
  .team-row {
    flex-direction: column;
  }
  .team-section {
    height: 1650px;
  }
}
@media (max-width: 600px) {
  .team-section {
    height: 1700px;
  }
  .team-section h1 {
    font-size: 2.2em;
  }
  .team-section h2 {
    font-size: 1.4em;
  }
  .team-card {
    aspect-ratio: 1 / 1.25;
  }
  .team-buttons {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
}
@media (max-width: 350px) {
  .team-section {
    height: 1775px;
  }
  .team-section h1 {
    font-size: 1.9em;
  }
  .team-section h2 {
    font-size: 1.1em;
  }
  .team-section h3 {
    font-size: 1.3em;
  }
  .team-section p {
    font-size: 1em;
  }
  .team-card {
    aspect-ratio: 1 / 1.7;
  }
  .team-buttons {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
  .team-button {
    font-size: 1.2em;
  }
}

/******************/
/***** Footer *****/
/******************/

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  height: 800px;
  padding: 2%;
}
.footer-column {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 15px;
  margin-top: 15px;
}
.footer-column h4 {
  font-size: 1.5em;
}
.footer-column p {
  font-size: 1.25em;
}
.about-us-footer {
  margin-right: 15px;
}
@media (max-width: 1250px) {
  .footer-column p {
    font-size: 1.1em;
  }
}
@media (max-width: 1000px) {
  .footer-column {
    width: 45%;
  }
  .footer-column p {
    font-size: 1.1em;
  }
  .footer {
    height: 1000px;
  }
}
@media (max-width: 815px) {
  .footer-column {
    width: 100%;
    text-align: center;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  .footer {
    height: 1300px;
  }
}
/***** Footer Extended *****/
.footer-ext {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}
@media (max-width: 800px) {
  .footer-ext {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 400px) {
  #equal-opp h4 {
    font-size: 1.2em;
  }
  #icon-attribution a {
    font-size: 0.8em;
  }
}

/*****************/
/***** Books *****/
/*****************/

#books-header {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  background-color: #f2f2f2;
}
#books-header h4 {
  font-size: 1.5em;
}
#books-header h2 {
    font-size: 1.9em;
 }
#book-section {
  background-color: #f5f7ff;
  padding: 4%;
  align-items: flex-start;
}
#book-col {
  flex-basis: 50%;
}
#book-title {
  font-size: 1.7em;
}
#book-desc {
  font-size: 1.4em;
}
.book-indent {
  margin-left: 6%;
}
@media (max-width: 650px) {
  #book-section {
    flex-direction: column;
  }
  #books-header {
    padding-left: 4%;
    padding-right: 4%;
  }
  #books-header h1 {
    font-size: 1.4em;
  }
  #books-header h2 {
    font-size: 1.1em;
  }
}

/********************/
/***** Learning *****/
/********************/

#learn-header {
  padding-top: 100px;
  padding-bottom: 4%;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 6%;
  text-align: center;
  background-color: #f2f2f2;
}
#learn-section {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 6%;
  align-items: stretch;
}
#learn-col {
  justify-content: space-between;
  width: 33%;
  aspect-ratio: 1 / 1.1;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.learn-img {
  height: 50%;
  width: 100%;
  border-radius: 10px 10px 2px 2px;
  background-position: center;
  background-size: cover;
}
#learn-textgroup {
  width: 100%;
}
#learn-title {
  font-size: 1.7em;
  padding: 0px 4%;
}
#learn-subtitle {
  font-size: 1.5em;
  padding: 0px 4%;
}
#learn-desc {
  font-size: 1.4em;
  padding: 0px 4%;
  margin-bottom: 10%;
}
#house-point-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Shopping-for-a-New-Home.jpg);
}
#woman-writing-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/checklist.jpg);
}
#holdin-cash-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/holding-money.jpg);
}
#stamp-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/stamping-paper.jpg);
}
#pig-jar-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/home-saving.jpg);
}
#pig-glasses-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Piggy-Bank.jpg);
}
#directions-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Map.jpg);
}
#price-scale-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Price-of-Home.jpg);
}
#buy-rent-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Buy-vs-Rent.jpg);
}
@media (max-width: 1020px) {
  #learn-section {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  #learn-col {
    width: 100%;
    aspect-ratio: 1.25 / 1;
  }
  #learn-header h1 {
    font-size: 1.4em;
  }
  #learn-header h2 {
    font-size: 1.1em;
  }
  #learn-header h4 {
    padding-top: 2%;
    font-size: 1em;
  }
}
@media (max-width: 640px) {
  #learn-section {
    padding-left: 6%;
    padding-right: 6%;
  }
  #learn-col {
    aspect-ratio: 1 / 1.25;
  }
}
@media (max-width: 425px) {
  #learn-col {
    aspect-ratio: 1 / 2;
  }
  #learn-title {
    font-size: 1.4em;
  }
  #learn-subtitle {
    font-size: 1.2em;
  }
  #learn-desc {
    font-size: 1.1em;
  }
}

/************************/
/***** Goals Banner *****/
/************************/

#goal-banner {
  justify-content: space-evenly;
  padding: 2%;
  background-color: #cccccc;
  text-align: center;
}
#goal-banner h3 {
  font-size: 1.7em;
}
#goal-banner button {
  padding: 15px 40px;
  font-size: 1.7em;
}
@media (max-width: 1215px) {
  #goal-banner h3 {
    font-size: 1.5em;
  }
  #goal-banner button {
    padding: 10px 30px;
    font-size: 1.5em;
  }
}
@media (max-width: 1060px) {
  #goal-banner h3 {
    font-size: 1.2em;
  }
  #goal-banner button {
    padding: 8px 26px;
    font-size: 1.2em;
  }
}
@media (max-width: 855px) {
  #goal-banner {
    flex-direction: column;
  }
}

/**********************/
/***** Prequalify *****/
/**********************/

.prequalify-img {
  width: 50vw;
  aspect-ratio: 1.4 / 1;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/Map.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#fha-loan-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/FHA-loan.jpg);
}
#prequalify-card {
  justify-content: space-evenly;
  align-items: stretch;
  padding: 4%;
}
#prequalify-col {
  width: 50%;
}
@media (max-width: 1715px) {
  #prequalify-col {
    width: 40%;
  }
  #qual-header h1 {
    font-size: 1.8em;
  }
  #qual-header h4 {
    font-size: 1.2em;
  }
}
@media (max-width: 1340px) {
  #prequalify-col {
    width: 35%;
  }
  #prequalify-col h3 {
    font-size: 1.7em;
  }
  #prequalify-col p {
    font-size: 1.3em;
  }
  #qual-header h1 {
    font-size: 1.6em;
  }
  #qual-header h4 {
    font-size: 1.1em;
  }
  #qual-header button {
    font-size: 1.1em;
    padding: 10px 15px;
  }
}
@media (max-width: 980px) {
  .prequalify-img {
    width: 0px;
  }
}
@media (max-width: 640px) {
  #prequalify-col h3 {
    font-size: 1.4em;
  }
  #prequalify-col p {
    font-size: 1em;
  }
}
@media (max-width: 550px) {
  #prequalify-card {
    flex-direction: column;
  }
  #prequalify-col {
    width: 100%;
    padding: 2%;
  }
  #qual-header button {
    font-size: 0.9em;
  }
}

/**********************/
/***** Disclaimer *****/
/**********************/

#disclaimer {
  padding: 4% 10%;
  text-align: center;
}
#disclaimer p {
  font-size: 1em;
}

/************************/
/***** Loan Section *****/
/************************/

#loan-section {
  padding: 2% 10%;
}
@media (max-width: 1240px) {
  #loan-section {
    padding: 2% 4%;
  }
}
@media (max-width: 980px) {
  #loan-section {
    text-align: center;
  }
}
@media (max-width: 600px) {
  #loan-section h2 {
    font-size: 1.7em;
  }
  #loan-section p {
    font-size: 1.2em;
  }
}

/*********************/
/***** CE School *****/
/*********************/

#ce-school {
  padding: 4%;
}
#school-contact {
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}
#school-img {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/josh-headshot.jpeg);
  width: 200px;
  margin: 1%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
@media (max-width: 800px) {
  #school-contact {
    flex-direction: column;
  }
  #school-text p {
    font-size: 1.2em;
  }
}
@media (max-width: 350px) {
  #school-text p {
    font-size: 0.8em;
  }
}

/*********************/
/***** Loan Calc *****/
/*********************/

#loan-section {
  justify-content: space-evenly;
}
#loan-calculator {
  text-align: center;
  padding: 2% 0px;
  width: 320px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#loan-calc-output {
  text-align: center;
  padding: 2% 0px;
  width: 320px;
  font-size: 1.25em;
  border-color: #e5e5e5;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#loan-calculator h2 {
  padding: 0px 4%;
}
#loan-calc-output h3 {
  padding: 0px 4%;
}
#loan-calculator form {
  font-size: 1.25em;
}
#loan-calculator form button {
  padding: 5px 15px;
  background-color: #ffffff;
  color: #000000;
  margin-top: 10px;
}
.form-row {
  padding: 2%;
}
.form-row input {
  font-size: 1.1em;
  padding: 1% 2%;
  margin-top: 5px;
  width: 80%;
}
@media (max-width: 650px) {
  #loan-calc-output {
    font-size: 1em;
  }
  #loan-calculator h2 {
    font-size: 1.8em;
  }
  #loan-calc-output h3 {
    font-size: 1.7em;
  }
}
@media (max-width: 540px) {
  #loan-section {
    flex-direction: column;
  }
  #loan-calculator {
    width: 100%;
    padding: 4% 0px;
  }
  #loan-calc-output {
    width: 100%;
    padding: 4% 0px;
  }
}

/**********************/
/***** Contact Us *****/
/**********************/

#contact-section {
  padding: 2%;
  align-items: center;
  justify-content: center;
}
#contact-card {
  padding: 2%;
  background-color: #000000;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  width: 80vw;
  max-width: 790px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#contact-card form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}
#contact-card form button {
  background-color: white;
  color: black;
  padding: 5px 15px;
  width: 100%;
  margin-bottom: 10px;
}
#contact-card form input {
  font-size: 1.1em;
  width: 100%;
}
#contact-card form textarea {
  font-size: 1.1em;
  width: 100%;
}
@media (max-width: 650px) {
  #contact-card form {
    width: 80%;
  }
  #contact-section {
    padding: 4%;
  }
}

/************************/
/***** Blog Article *****/
/************************/

#blog-header {
  padding-top: 100px;
  padding-bottom: 4%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  background-color: #f2f2f2;
}
#blog-article {
  padding: 4%;
}
#blog-article h2 {
  text-align: center;
}
#blog-header h1 {
  font-size: 2.4em;
}
#homebuying-img {
  width: 80%;
  border-radius: 15px;
  max-width: 1200px;
}
#thechecklist-img {
  width: 80%;
  border-radius: 15px;
  max-width: 1200px;
}
#holdingthemoney-img {
  width: 80%;
  border-radius: 15px;
  max-width: 1200px;
}
#stampeddoc-img {
  width: 80%;
  border-radius: 15px;
  max-width: 1200px;
}
#piggybank-img {
  width: 80%;
  border-radius: 15px;
  max-width: 1200px;
}
@media (max-width: 650px) {
  #blog-article ul {
    padding: 0 4%;
  }
  #blog-article h2 {
    font-size: 1.8em;
  }
  #blog-article h3 {
    font-size: 1.7em;
  }
  #blog-article p {
    font-size: 1em;
  }
  #blog-header {
    padding-left: 4%;
    padding-right: 4%;
  }
  #blog-header h1 {
    font-size: 1.8em;
  }
  #blog-header h4 {
    font-size: 1.2em;
  }
}